body {
    padding-top: 80px;
}

h4 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-block {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}

#back-btn { 
    position: fixed; 
    bottom: 5%;
    right: 5%;
    z-index: 999;
    -webkit-box-shadow: 4px 3px 16px 5px rgba(0,0,0,0.26);
    -moz-box-shadow: 4px 3px 16px 5px rgba(0,0,0,0.26);
    box-shadow: 4px 3px 16px 5px rgba(0,0,0,0.26);
}

#holiday-warning {
    display: none;
}